<div class="container">
    <div class="authentification-container">
        <h1>Authentication</h1>
        <div class="authentification-form">
            <form action="">
                <div class="form-username">
                    <Label for="text">Username:</Label>
                    <input type="text" [(ngModel)]="text" name="text" id="text">
                </div>
                <div class="form-passwd">
                    <Label for="password">Password: </Label>
                    <input type="password" [(ngModel)]="password" name="password" id="password">
                </div>
                <input class="btn-login" type="button" (click)="logIn()" value="Login">
            </form>
        </div>
    </div>
</div>

