<div class="container">
    <nav class="p-2 m-2 border border-info">
        <button *ngIf="authService.hasRole('ADMIN')" class="btn btn-outline-info" (click)="handleNewProduct()">New Product</button>
    </nav>
    <ng-template #errors>
        <div *ngIf="errorMessage" class="text-danger">
            {{errorMessage}}
        </div>
    </ng-template>
    <div class="card" *ngIf="products ;else errors">
        <div class="card-header">Products</div>
        <div class="card-body">
            <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
                <div class="input-group">
                    <label class="input-group-text" for="">KeyWord:</label>
                    <input type="text" class="form-control" formControlName="Keyword">
                    <button class="btn btn-info">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th> <th>Name</th> <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td>{{product.id}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td *ngIf="product.promotion;else none" class="bi bi-heart-fill text-success"></td>
                        <ng-template #none><td></td></ng-template>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handleSetPromotion(product)" [ngClass]="product.promotion?'btn-danger':'btn-success'" class="btn ">
                                <span *ngIf="product.promotion">Promo off</span>
                                <span *ngIf="!product.promotion">Promo on</span>
                            </button>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handleDeleteProduct(product)" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button (click)="handleEditProduct(product)" class="btn btn-success">
                                <i class="bi bi-file"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <li *ngFor="let item of [].constructor(this.totalPages); let i=index" >
                    <a (click)="goToPage(i)" [ngClass]="i==this.currentPage? 'btn-info':'btn-outline-info' " class="btn ms-1 mt-1">{{i}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
